.spinner {
  border: 2px solid var(--primary-700);
  border-top-color: transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

.sm {
  width: 16px;
  height: 16px;
}

.md {
  width: 24px;
  height: 24px;
}

.lg {
  width: 32px;
  height: 32px;
}

